.login-container {
    box-shadow: 0px 4px 8px rgba(0.15, 0.15, 0.15, 0.15); /* Box-shadow for elevation */
    padding: 20px; /* Padding for the container */
    height: 400px; /* Adjust the height as needed */
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 40px; /* Adjust the top margin as needed */
  }